<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/versiones.css">
    <title>Control de Versiones</title>

</head>
<body>
    <div class="container">
        <h1>Historial de Versiones 1</h1>
        <ul class="version-list">
            {% for version in versions %}
                <li class="version-item" onclick="toggleDetails(this)">
                    <h3>{{ version.version }}</h3>
                    <p>{{ version.date }}</p>
                    <div class="version-details">
                        <p><strong>Descripción:</strong> {{ version.description }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="footer">
            <p>Desarrollado por <a href="#">Wederick</a></p>
        </div>
    </div>

<script src="/static/js/versiones.js"></script>
</body>
</html>
